body {
  font-family: "Open Sans", sans-serif; }

h1, h2, h3 {
  font-family: "Open Sans", sans-serif; }

h2 {
  color: #2b2d42; }

header h2 {
  color: #2b2d42; }

.site-footer {
  background-image: linear-gradient(#ffa69e, #FF686B);
  z-index: 100;
  font-size: 13px; }

.btn {
  font-size: 13px; }

.text-nowrap {
  white-space: nowrap; }

.row-content {
  padding: 50px 0;
  border-bottom: 1px ridge;
  min-height: 200px; }

.navbar {
  background-color: #FF686B;
  font-size: 13px;
  text-align: center; }

#dropdown-menu {
  background-color: #A5FFD6;
  font-size: 13px;
  text-align: initial; }

#subdropdown-menu {
  background-color: #FF686B;
  font-size: 13px;
  text-align: initial; }

.tab-content {
  border: 1px solid #DDD;
  border-top: none;
  padding: 10px; }

#header {
  position: -webkit-sticky;
  /* Safari */
  position: sticky;
  top: 0;
  z-index: 100; }

.modal-body {
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start; }

.modal-header {
  background-color: #A5FFD6;
  color: #2b2d42; }

.video-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0; }

.video-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute; }

.darkBG {
  background-color: #2b2d42; }

.carousel-caption {
  background-color: rgba(0, 0, 0, 0.5); }

.carousel-indicators li {
  background-color: #003e1f;
  width: 10px;
  height: 10px;
  border-radius: 100%; }

.carousel-indicators {
  bottom: -50px; }

.carousel-control-prev .fas, .carousel-control-next .fas {
  color: #003e1f;
  font-size: 40px; }

#sendMailBtn {
  background-color: #003e1f;
  color: #FFFFFF; }
