$color-primary: #2b2d42;
$color-secondary: #003e1f;
$color-pale: #FFFFFF;
$color-mid: #A5FFD6;
$color-dark: #FF686B;
$color-black-transparent: rgba(0, 0, 0, 0.5);

$body-font: "Open Sans", sans-serif;
$header-font: "Open Sans", sans-serif;

body {
    font-family: $body-font;
}

h1, h2, h3 {
    font-family: $header-font;
}

h2 {
    color: $color-primary;
}

header h2 {
    color: $color-primary;
}

.site-footer {
    background-image: linear-gradient(#ffa69e, $color-dark);
    z-index: 100;
    font-size: 13px;
}

.footer {
    background-image: linear-gradient(#ffa69e, $color-dark);
    z-index: 100;
    font-size: 13px;
    position: absolute;
    bottom: 0;
    width: 100%;
    border: none;
}

.btn{
    font-size: 13px;
}

.text-nowrap {
    white-space: nowrap;
}

.row-content {
    padding: 50px 0;
    border-bottom: 1px ridge;
    min-height: 200px;
}
.navbar {
    background-color: $color-dark;
    font-size: 13px;
    text-align: center;
}
#dropdown-menu {
    background-color: $color-mid;
    font-size: 13px;
    text-align: initial;
}
#subdropdown-menu {
    background-color: $color-dark;
    font-size: 13px;
    text-align: initial;
}
.tab-content {
    border: 1px solid #DDD;
    border-top: none;
    padding: 10px;
}

#header {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    z-index: 100;
  }
.modal-body {
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
}

.modal-header  {
    background-color: $color-mid;
    color: $color-primary;
}

.video-responsive{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}
.video-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position: absolute;
}

.darkBG {
    background-color: $color-primary;
}
.carousel-caption {
    background-color: rgba(0, 0, 0, 0.5);
}
.carousel-indicators li{
    background-color: $color-secondary;
    width: 10px;
    height: 10px;
    border-radius: 100%;
}

.carousel-indicators {
    bottom: -50px;
}

.carousel-control-prev .fas, .carousel-control-next .fas {
    color: $color-secondary;
    font-size: 40px;
}
#sendMailBtn {
    background-color: $color-secondary;
    color: $color-pale;
}
.recorded {
    background-image: url("../img/christmastable.jpg");
    background-size: cover;
}
#accordion .collapsed, #accordion .card-body, #accordion .card {
    background-color: $color-primary;
    border: none;
    color: $color-pale;
    margin-top: 5px;
}
#offAir {
    margin-bottom: 5px;
    border: 5px solid black;
    border-radius: 10px;
}
#calendar {
    
}